body {
    background-color: rgb(16, 62, 88);
    text-align: center;
}

.cat {
    font-family: fantasy;
}

.secret {
    opacity: 0.5;
}

.list {
    list-style: none;
}

.table, .th {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    margin: 0 auto;
}
